version: "3.8"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  generator:
    build: ./generator
    env_file:
      - .env
    depends_on:
      - db

  redash:
    image: redash/redash:10.1.0.b50633
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis

  redash-scheduler:
    image: redash/redash:latest
    command: scheduler
    depends_on:
      - redash
    environment:
      - .env

  redash-worker:
    image: redash/redash:latest
    command: worker
    depends_on:
      - redash
    environment:
      - .env

  redis:
    image: redis:7

volumes:
  pgdata:
